.agent-detail {
  max-width: var(--maxw);
}

.agent-cols {
  margin-top: 80px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: baseline;
}

.img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.agent-pf {
  max-width: 500px;
  text-align: left;
  align-items: start;
}

.agent-pf h1 {
  font-size: 32px;
  color: var(--text);
}

.agent-pf p {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
}

.contact-cols {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.contact-cols span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: var(--muted);
}

.contact-cols span i {
  color: var(--muted);
  font-size: 18px;
}

.feature,
.personal {
  background: var(--card);
  padding: 1.5rem;
  border-radius: 12px;
  flex: 1 1 300px;
}

.feature h1,
.personal h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--text);
}

.feature-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: var(--card);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: default;
}

.feature-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.feature-item .icon {
  font-size: 1.5rem;
}

.icon i {
  font-size: 20px;
}

.personal p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: var(--text);
}

.explore-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 35px;
}

.explore-btn {
  background: #f4a61f;
  color: white;
  padding: 17px 40px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  width: 260px;
}

.explore-btn:hover {
  background: black;
}

.subscribe__row {
  width: 100%;
  display: grid;
  gap: 6px;
  margin-top: 8px;
}

.subscribe__select {
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 12px;
  background: #fff;
  font-family: var(--font-family);
}

.subscribe__row input {
  height: 40px;
  border-radius: 12px;
  padding: 0px 12px;
  border: 1px solid var(--border);
}

#relatedToAgent {
  margin-bottom: 26px;
}

.section__link {
    margin-bottom: 32px;
}









.footer {
  width: 100%;
  background: var(--nav-foot);
  border-top: 1px solid var(--line);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-footer {
  width: 300px;
  height: 150px;
  overflow: hidden;
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-infor {
  max-width: 700px;
}

.footer-infor h1 {
  font-size: 24px;
  color: var(--text);
  margin-top: 16px;
}

.footer-infor span {
  color: var(--text-secondary);
}

.footer-infor p {
  font-size: 16px;
  color: var(--text);
  margin-top: 8px;
}

.footer-contact {
  font-size: var(--text);
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.contact-cols {
  display: flex;
  color: var(--muted);
  gap: 16px;
}

.contact-cols span {
  font-size: 16px;
}

.contact-cols i {
  font-size: 12px;
}

.footer__small {
  display: flex;
  align-items: center;
  gap: 14px;
}

.footer__small a {
  font-size: 17px;
  transition: all 0.2s ease;
  pointer-events: auto;
}

.footer__small a:hover {
  color: var(--acent-hover);
  transform: translateY(-6px);
}

.copyright {
  width: 100%;
  margin-top: 24px;
  padding: 4px 0px;
  background-color: var(--muted);
}

.copyright small {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 768px) {
  .img-footer {
    width: 220px;
    height: auto;
    margin-top: 18px;
  }

  .footer-infor {
    max-width: 90%;
  }

  .footer-infor h1 {
    font-size: 20px;
    margin-top: 12px;
  }

  .footer-infor p {
    font-size: 14px;
    margin-top: 6px;
  }

  .footer-contact {
    margin-top: 24px;
  }

  .contact-cols {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 6px;
    text-align: center;
  }

  .contact-cols span {
    font-size: 14px;
  }

  .contact-cols i {
    font-size: 10px;
  }

  .footer__small {
    gap: 10px;
  }

  .footer__small a {
    font-size: 15px;
    transform: none;
  }

  .footer__small a:hover {
    transform: translateY(-4px);
  }

  .copyright small {
    font-size: 10px;
  }
}

/* responsive navagation */
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .nav-actions {
    gap: 6px;
  }

  .nav-btn a {
    font-size: 14px;
    padding: 6px 12px;
  }

  .nav-btn i {
    font-size: 14px;
  }

  .nav-links ul:not(.sidebar) {
    flex-wrap: wrap;
    gap: 15px;
  }

  .agent-cols {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .agent-pf {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contact-cols {
    align-items: center;
  }

  .contact-cols {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .contact-cols span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: var(--muted);
  }

  .contact-cols span i {
    color: var(--muted);
    font-size: 18px;
  }
}
