.container {
  max-width: var(--maxw);
  position: relative;
}
.successful {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.successful a {
  text-decoration: none;
  padding: 12px 26px;
  background-color: var(--acent);
  color: var(--text-highlight);
  border-radius: 12px;
  transition: all 0.3s ease;
}

.successful a:hover {
  background-color: var(--acent-hover);
}

.t-sucess {
  padding: 10px;
}

.successful i {
  font-size: 90px;
  color: red;
}

.t-sucess h1 {
  font-size: 32px;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.t-sucess p {
  font-size: 18px;
  color: var(--text-primary);
  margin-bottom: 20px;
}
